*{
margin: 0%;
padding: 0%;

}

.inner_container{

    background-color: rgb(170, 179, 187);
    border: 2px solid rgb(152, 162, 167);

    min-height: 40rem;

    margin-inline: 30px;
    margin-top: 20px;
    padding: 10px;

}

.Outer_buttons button{

  
   margin-top: 30px;
   margin-inline-start: 30px;
   min-width: 100px;
   padding: 10px;
   border: none;
   border-radius: 7.8px;
   
}

.Outer_buttons button:hover{

background-color: rgb(180, 242, 196);

}

.container{

background-color: rgb(213, 202, 213);

min-height:100%;

}